
@{
    ViewData["Title"] = "Read";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model Blog

<div class="card mt-4" style="width: 40rem;">
    <img src="~/images/@Model.Image" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-title">@Model.Description</>
    </div>
</div>

