@{
	ViewData["Title"] = "Read";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model About

<div class="card mt-4" style="width: 40rem;">
	<img src="~/images/@Model.Image" class="card-img-top" alt="@Model.Title">
	<div class="card-body">
		<h3 class="card-title">@Model.Title</h3>
		<p class="card-title text-lg">@Model.Description</>
	</div>
</div>