
@{
    ViewData["Title"] = "Ayuna - Shop";
}

<!-- breadcrumb start -->
<section class="breadcrumb-section">
    <div class="breadcrumb">
        <a href="index.html">Home / </a>
        <a href="#">Shop</a>
    </div>
    <div class="layer"></div>
</section>
<!-- breadcrumb end -->
<!-- shop start -->
<div class="shop-wrapper mt-5">
    <div class="container-desc">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-12 col-lg-3 mt-5 mt-lg-0">
                <div class="position-relative w-100 mb-3">
                    <input type="text" placeholder="Seach" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="categories d-flex flex-column align-items-start mb-3">
                    <h5>Categories</h5>
                    <ul class="d-flex flex-column align-items-start gap-2">
                        <li>
                            <a href="">Gold</a>
                        </li>
                        <li>
                            <a href="">Handmade</a>
                        </li>
                        <li>
                            <a href="">Lifestyle</a>
                        </li>
                        <li>
                            <a href="">Materials</a>
                        </li>
                        <li>
                            <a href="">Pastel</a>
                        </li>
                        <li>
                            <a href="">Pearls</a>
                        </li>
                        <li>
                            <a href="">Rose</a>
                        </li>
                        <li>
                            <a href="">Silver</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="d-flex flex-column flex-lg-row gap-3 justify-content-between align-items-center mb-3">
                    <div>
                        <p class="mb-0">Showing 1–9 of 97 results</p>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Son gələnlər
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Son gələnlər</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Ada görə: A-Z</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Ada görə: Z-A</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Qiymətə görə: azdan-çoxa</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Qiymətə görə: çoxdan-aza</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-1.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/product-img-1.1.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-2.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/product-img-2.2.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-3.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/blog-img-11.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-4.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/product-img-4.2.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-1.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/product-img-1.1.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-3.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/blog-img-11.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-2.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/product-img-2.2.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-3.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/blog-img-11.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-card d-flex align-items-center justify-content-center col-12 col-lg-4 col-md-6">
                        <div class="product">
                            <div class="product-image">
                                <img src="images/product-img-4.jpg" alt="img" />
                            </div>
                            <div class="content">
                                <div class="d-flex justify-content-between align-items-center position-relative">
                                    <a href="product-detail.html">Circle Necklace</a>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="categorie">
                                        <h5>Accessories / Bracelests</h5>
                                    </div>
                                    <div class="price">
                                        <p>52.00$</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-image">
                                <img src="images/product-img-4.2.jpg" alt="img" />
                            </div>
                            <div class="more-detail">
                                <a href="product-detail.html">more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="d-flex align-items-center justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!--shop end -->

