
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model Portfolio

<form asp-action="Create" method="post" class="mt-4" enctype="multipart/form-data">
	<div class="mb-3">
		<label class="form-label">Image</label>
		<input style="border: 1px solid gray; max-width: 700px; padding: 10px;" asp-for="formFile" type="file" class="form-control">
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
	<a class="btn btn-info" asp-action="Index">Go back</a>
</form>

