
@{
    ViewData["Title"] = "Ayuna - Wishlist";
}

<!-- breadcrumb start -->
<section class="breadcrumb-section">
    <div class="breadcrumb">
        <a href="index.html">Home / </a>
        <a href="#">Wishlist</a>
    </div>
    <div class="layer"></div>
</section>
<!-- breadcrumb end -->
<!-- wishlist start -->
<div class="cart-wishlist-wrapper mt-5 mb-5">
    <div class="container">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Məhsul</th>
                        <th>Məhsulun adı</th>
                        <th>Qiymət</th>
                        <th>Səbətə at</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="images/product-img-2.jpg" alt="img" /></td>
                        <td>Aksesuar 1</td>
                        <td>5 ₼</td>
                        <td><i class="fa-solid fa-cart-shopping"></i></td>
                        <td><i class="fa-solid fa-trash-can delete-icon"></i></td>
                    </tr>
                    <tr>
                        <td><img src="images/product-img-2.jpg" alt="img" /></td>
                        <td>Aksesuar 1</td>
                        <td>5 ₼</td>
                        <td><i class="fa-solid fa-cart-shopping"></i></td>
                        <td><i class="fa-solid fa-trash-can delete-icon"></i></td>
                    </tr>
                    <tr>
                        <td><img src="images/product-img-2.jpg" alt="img" /></td>
                        <td>Aksesuar 1</td>
                        <td>5 ₼</td>
                        <td><i class="fa-solid fa-cart-shopping"></i></td>
                        <td><i class="fa-solid fa-trash-can delete-icon"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- wishlist end -->

