
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model Contact

<form asp-action="Update" method="post" class="mt-4">
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input style="border: 1px solid gray; max-width: 700px; padding: 10px;" asp-for="Description" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input style="border: 1px solid gray; max-width: 700px; padding: 10px;" asp-for="Phone" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <input style="border: 1px solid gray; max-width: 700px; padding: 10px;" asp-for="Address" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input style="border: 1px solid gray; max-width: 700px; padding: 10px;" asp-for="Email" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <a class="btn btn-info" asp-action="Index">Go back</a>
</form>

