@{
    ViewData["Title"] = "Login";
}

@model LoginVM

<!-- breadcrumb start -->
<section class="breadcrumb-section">
    <div class="breadcrumb">
        <a href="index.html">Home / </a>
        <a href="#">Login</a>
    </div>
    <div class="layer"></div>
</section>
<!-- breadcrumb end -->
<!-- login start -->
<div class="customer-login mt-30">
    <div class="container-desc d-flex align-items-center justify-content-center">
        <!--login area start-->
        <div class="login-wrapper w-50">
            <div class="account-form">
                <h1 class="text-center">Login</h1>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form asp-action="Login" method="post">
                    <div class="password-container">
                        <div class="item my-3">
                            <label> Email </label>
                            <input asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="password-container">
                            <label for="password">Password </label>
                            <input asp-for="Password" class="password-input" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="login-submit">
                        <div class="login-register">
                            <span>
                                If you don't have an account
                                <a asp-action="Register">sign in</a>
                            </span>
                        </div>
                        <button class="login-submit-btn" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <!--login start-->
    </div>
</div>
<!-- customer login end -->