
@{
    ViewData["Title"] = "Error";
}

<!-- error start -->
<div class="error-wrapper">
    <div class="container-desc d-flex flex-column align-items-center justify-content-center mb-5">
        <div class="gif">
            <img src="images/error.gif" alt="img" />
        </div>
        <button>
            <a asp-controller="Home" asp-action="Index">Back to Home</a>
        </button>
    </div>
</div>
<!-- error end -->
